body{
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 background-image:linear-gradient(to right,rgb(15, 26, 75),rgb(44, 69, 77));
 }
 
 .box{
 color:white;
 position:absolute;
 top:50%;
 left:50%;
 transform:translate(-50%,-50%);
 background-color: rgba(0,0,0,0.6);
 padding:15px;
 border-radius:15px;
 width:20%;
 }
 
 fieldset{
 border:3px solid dodgerblue;
 border-radius:15px;
 }
 
 legend{
 border:1px solid dodgerblue;
 padding:10px;
 text-align: center;
 background-color: dodgerblue;
 border-radius:8px; 
 }
 
 .inputBox{
 position:relative;
 }
 
 .inputUser{
 background:none;
 border:none;
 border-bottom:1px solid white;
 outline:none;
 color:white;
 font-size:15px;
 width:100%;
 letter-spacing:2px;
 }
 
 #submit{
 border:none;
 border-radius:10px;
 background-color:dodgerblue;
 padding:15px;
 width:100%;
 color:white;
 font-size:15px;
 cursor:pointer;
 }
 
 #submit:hover{
  background-image:linear-gradient(to right,dodgerblue,rgb(30, 115, 201));
 }
 
 .span-required{
     font-size: 12px;
     margin: 0;
     color:#E63636;
     display: none;
 }
 fieldset a{
     text-decoration: none;
 }
